body {
    background-color: white;
    font-family: 'Anton', sans-serif;
    margin: 64px;
}
.header {
    position: relative;
    padding: 35px;
   
}
.box-logo-text{
position:absolute;
top:0;
left: 0;
}

.box-logo-text .logo{
display: inline-block;

    }
.box-logo-text .text{
 padding-left: 10px;   
 display: inline-block;
        
}

.icons-header{
position: absolute;
top:0;
right: 0;
}

.icons-header img:nth-child(6){
 margin-right: 10px;
    }


.box-logo-text .text h2{
    font-family: 'Yellowtail', cursive;
    font-size: 35px;
    font-weight: bold;
}

.box-logo-text .text h5{
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    color: #bebebe;
    margin-top: 3px;
}

.hr-background{
    height: 10px;
    background-image: url(../assets/hr-img.png);
    margin-top: 10px;
}
.hr-background:last-child{
    margin-top: 40px;  
}

.print-text-main{
    position: relative;
    padding: 35px;
}

.print-text-main h5{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    font-size: 13px;
    color: #bebebe;
    text-transform: uppercase;
    font-weight: 100;
    
}

.print-text-main .print-text{
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    display: inline-block;
    height: 40px;
  
    
}

.print-text-main .print-text h5{
 /* display: inline-block; */
 top: 0;
 left: 110px;
 /* margin-left: 20px; */
 position: absolute;
 width: 50%;
 font-size: 13px;
 color: #bebebe;
 text-transform: uppercase;
 font-weight: 100;
}

.print-text-main .print-text div{
    /* display: inline-block;    */
    width: 50%;
    top: 0;
    position: absolute;
    left: 90px;
     
}

h1{

    font-size: 35px;
    margin: 64px 0 5px 0;
    display: inline-block;

}

.main-image{
    text-align: center;
}

.main-image img{
    width: 100%;
}

.main-section{
    margin-top: 30px;
}
.main-section p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-indent: 30px;
    color: #2e2d2d;
    text-align: justify;

}

.main-section .written-image{
    text-align: center;
    position: absolute;
    width: 100%;
   
}
.main-section .written-image img{
width: 100%;   
margin-top: 35px;
margin-bottom: 35px;
}
footer{
    height: 25vh;
}
.footer-above{
    position: relative;
    margin-top: 35px;
    height: 50%;

}

.footer-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
}

.footer-text{
    position: absolute;
    left:8%;
    width: 80%;
    padding: 10px;
}

.footer-subscribe{
    position: absolute;
    top: 50%;
    right: 0;
    width: 10%;
    transform: translateY(-50%);
}


.footer-text h3{
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    color: #2e2d2d;
    margin-bottom: 15px;
}

.footer-text p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2e2d2d;
    text-align: justify;
}


.footer-subscribe a{
background-color:#BC7058  ;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: white;
padding: 10px 30px;
text-align: center;
text-decoration: none;
}

.footer-bottom{
 text-align: center; 
 margin-top: 35px;  
}
.footer-bottom div{
    margin-bottom: 30px;
}
.footer-bottom p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #bebebe;
   }

.written-image-text{
    position: relative;
    height: 500px;
}

.written-image-text .left-list{
    position: absolute;
    top: 110px;
    left: 75px;
    width: 50%;
}

.written-image-text .left-list label{
 margin-bottom: 25px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 color: #2e2d2d;
font-weight: bold;
}

.written-image-text .right-list label{
    margin-bottom: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2e2d2d;
    font-weight: bold;

   }

.written-image-text .right-list{
    position: absolute;
    top:110px ;
    right: 0;
    width: 50%;
    text-align: left;
}



label.indented-checkbox-text
{
  margin-left: 2em;

  display: block;
  position: relative;
  margin-top: -1.4em;  /* make this margin match whatever your line-height is */
  line-height: 1.4em;  /* can be set here, or elsewehere */
}

input[type=checkbox]{
    background-color: #2e2d2d;
}
input[type=checkbox]:checked + label.indented-checkbox-text{
    text-decoration: line-through;
   
  }

  



  /* Main Classes */
input[type="checkbox"]:before {
    position: relative;
    display: block;
    width: 11px;
    height: 11px;
    border: 1px solid #808080;
    content: "";
    background: #FFF;
  }
  
  input[type="checkbox"]:after {
    position: relative;
    display: block;
    left: 2px;
    top: -11px;
    width: 7px;
    height: 7px;
    border-width: 1px;
    border-style: solid;
    border-color: #B3B3B3 #dcddde #dcddde #B3B3B3;
    content: "";
    background-image: linear-gradient(135deg, #B1B6BE 0%, #FFF 100%);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  input[type="checkbox"]:checked:after {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB2SURBVHjaAGkAlv8A3QDyAP0A/QD+Dam3W+kCAAD8APYAAgTVZaZCGwwA5wr0AvcA+Dh+7UX/x24AqK3Wg/8nt6w4/5q71wAAVP9g/7rTXf9n/+9N+AAAtpJa/zf/S//DhP8H/wAA4gzWj2P4lsf0JP0A/wADAHB0Ngka6UmKAAAAAElFTkSuQmCC'), linear-gradient(135deg, #B1B6BE 0%, #FFF 100%);
  }
  
  input[type="checkbox"]:disabled:after {
    -webkit-filter: opacity(0.4);
  }
  
  input[type="checkbox"]:not(:disabled):checked:hover:after {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB2SURBVHjaAGkAlv8A3QDyAP0A/QD+Dam3W+kCAAD8APYAAgTVZaZCGwwA5wr0AvcA+Dh+7UX/x24AqK3Wg/8nt6w4/5q71wAAVP9g/7rTXf9n/+9N+AAAtpJa/zf/S//DhP8H/wAA4gzWj2P4lsf0JP0A/wADAHB0Ngka6UmKAAAAAElFTkSuQmCC'), linear-gradient(135deg, #8BB0C2 0%, #FFF 100%);
  }
  
  input[type="checkbox"]:not(:disabled):hover:after {
    background-image: linear-gradient(135deg, #8BB0C2 0%, #FFF 100%);
    border-color: #85A9BB #92C2DA #92C2DA #85A9BB;
  }
  
  input[type="checkbox"]:not(:disabled):hover:before {
    border-color: #3D7591;
  }
